@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap');


body{
 font-family: 'Manrope';
background: var(--White Base, rgba(247, 248, 250, 1));
  max-width: 1600px;
  margin: 0 auto;
}

header{
height: 53px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 40px 80px;
}

.logo{
display: flex;
width: 123px;
height: 44px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 20;
}

.logo__icon{
width: 44px;
height: 44px;
}

.logo__text{
font-size: 22px;
font-weight: 600;
line-height: 30px;
text-align: left;
padding: 20px;
}

.btn-order{
/* Container */
width: 150px;
height: 53px;
/* Автолейаут */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 12;
border-radius: 100px;
background-color: black;
color: #FFFFFF;
text-decoration: none;
}

.btn__dot{
background-color: #B7ED6B;
width: 12px;
height: 12px;
border-radius: 50%;
margin: 10px;
}



.nav{
width: 530px;
height: 25px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 50;
}

.nav__link{
font-size: 18px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
color: #83878F;
padding: 25px;
text-decoration: none;
}


.hero1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 80px;
  flex-direction: column;

  align-items: flex; /* оба блока стартуют с верхнего края */
  gap: 40px; /* расстояние между колонками */
}

.hero-left{
display: grid;
grid-template-rows: repeat(2, 1fr);
grid-template-columns: repeat(2, 1fr);
}

.hero-title{
grid-column: span 2;
font-size: 40px;
font-weight: 500;
}

/* Описание справа будет ниже заголовка через margin-top */
.hero__desc {
  font-size: 18px;
  font-weight: 400;
  margin-left: auto;
  width: 330px;
}
.project-card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.project-card img {
  width: 100%;
  display: block;
}

/* === ВЕРХНЯЯ ПРОЗРАЧНАЯ ПАНЕЛЬ С РАЗМЫТИЕМ === */
.project-info {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  max-height: 72px;
  padding: 32px;
filter: blur(10%);
backdrop-filter: blur(5px);
background: linear-gradient(180.00deg, rgba(255, 255, 255, 0) 50%,rgba(255, 255, 255, 0) 100%);
}

/* Текст */
.project-text span {
  display: block;
  color: white;
  font-weight: 500;
  max-width: 330px;

}

/* Кнопка */
.project-btn {
  background: white;
  border: none;
  margin: 0 32px;
  padding: 18px;
  border-radius: 20px;
  cursor: pointer;
  max-width: 114px;
  max-height: 36px;
}

  .project-btn text{
    margin: 10px;
  }

.hero-chat {
  position: relative;            /* нужно для псевдоэлементов */
  background: rgba(255, 255, 255, 0.6);  /* слегка прозрачный фон */
  border-radius: 20px;
  padding: 20px;
  overflow: hidden;             /* чтобы кружки не вылезали */
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.hero-chat::before,
.hero-chat::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);  /* главное размытие */
  z-index: 0;           /* ниже контента */
}

.hero-chat::before {
width: 331.17px;
height: 331.17px;
 background: linear-gradient(180.00deg, rgba(183, 237, 107, 0.6),rgba(61, 224, 32, 0.6) 100%);
  top: 179px;
  left: 257px;
}

.hero-chat::after {
width: 255.28px;
height: 255.28px;
background: linear-gradient(180.00deg, rgba(183, 237, 107, 0.4),rgba(60.61000061035156, 223.5500030517578, 31.855884552001953, 0.4) 100%);
  bottom: 173px;
  right: 104px;
}
.hero-chat > * {
  position: relative;
  z-index: 1;
}
.chat-block {
  grid-row: 1;
  background: rgba(255, 255, 255, 0);  /* лёгкая прозрачность */
  backdrop-filter: blur(12px);            /* размываем то, что под ним */
  -webkit-backdrop-filter: blur(12px);

  padding: 10px;
  border-radius: 20px;
  width: 100%;
  max-width: 420px;
  max-height: 160px;

  display: flex;
  flex-direction: column;
  gap: 16px;
  top: auto;
}
.chat-message {
  background: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  line-height: 1.45;
  font-size: 15px;
  color: #333;
}
.chat-user{
min-width: 83px;
display: flex;

}

.chat-user__chat-avatar{
width: 24px;
height: 24px;
border-radius: 100px;
backdrop-filter: blur(16px);
background: linear-gradient(135.00deg, rgba(93.1148452758789, 229.5, 68.85000610351562, 0.7),rgba(183, 237, 107, 0.7) 100%);
}

.chat-user__chat-name{
font-size: 12px;
font-weight: 400;
line-height: 16px;
text-align: left;
align-items: center;
padding: 4px;
}

.chat-input {
  display: flex;
  gap: 12px;
  margin-top: 20px;
  grid-row: 2;
  max-height: 61px;
  align-self: flex-end;
}
.input-wrapper {
  flex: 1;
  
  background: #F7F8FA;
  border-radius: 18px;
  padding: 12px 12px;
  justify-content: flex-end;

  display: flex;
  align-items: start;
  gap: 18px;
}

.send-btn{
width: 60px;
height: 60px;
border-radius: 25%;
border-color: #ffffff00;
}

.input-icon {
width: 24px;
height: 24px;
}

.input-wrapper input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 18px;
font-weight: 400;
line-height: 25px;
background: #ffffff00;
}




.container{
max-width: 1440px;
position: relative;
justify-content: space-between;
display: grid;
grid-template-columns: repeat(2, 50%);
grid-template-rows: repeat(2, 50%);
gap: 40px;
padding: 80px;
height: 600px;
}

.container__title{
grid-column: 2;
grid-row: 1;
font-size: 40px;
font-weight: 500;
line-height: 55px;
}

.container__top-card{
  width: 100%;
display: grid;
grid-template-columns: repeat(2, 1fr);
column-gap: 40px;
position: sticky;
top: 40px;
align-self: start;
}
.container__top-card__1{
grid-column: 1;
display: grid;
grid-template-rows: repeat(3, 1fr);
position: relative;
border-radius: 24px;
background: #EEF0F4;
max-width: 330px;
min-height: 278px;
}
.container__top-card__1__icon{
    grid-row: 1;
position: absolute;
top: 24px;
right: 24px;
width: 64px;
height: 64px;
border-radius: 50%;
background-color: #E1E4EB;
display: flex;
align-items: center;
justify-content: center;
}
.container__top-card__1__icon img{
    width: 32px;
    height: 32px;
}
.container__top-card__1__title{
    grid-row: 2;
align-self: self-end;
padding: 10px;
font-size: 22px;
font-weight: 500;
}
.container__top-card__1__text{
    grid-row: 3;
margin: 0;
padding: 10px;
font-size: 12px;
font-weight: 400;
}

.container__top-card__2{
  grid-column: 2;
display: grid;
grid-template-rows: repeat(2, 1fr);
position: relative;
border-radius: 24px;
background: #EEF0F4;
max-width: 330px;
min-height: 278px;
}
.container__top-card__2__icon{
grid-row: 1;
position: absolute;
top: 24px;
right: 24px;
width: 64px;
height: 64px;
border-radius: 50%;
background-color: #E1E4EB;
display: flex;
align-items: center;
justify-content: center;
}
.container__top-card__2__icon img{
    width: 32px;
    height: 32px;
}

.container__top-card__2__title{
    grid-row: 2;
align-self: self-end;
padding: 10px;
font-size: 22px;
font-weight: 500;
}
.container__top-card__2__text{
    grid-row: 3;
    padding: 10px;
    font-size: 12px;
font-weight: 400;
}

.container__bottom-card{
  width: 100%;
display: grid;
grid-template-columns: repeat(2, 1fr);
column-gap: 40px;
position: relative;
grid-column: 2;
grid-row: 2;
}
.container__bottom-card__3{
  grid-column: 1;
display: grid;
grid-template-rows: repeat(3, 1fr);
position: relative;
border-radius: 24px;
background: #EEF0F4;
max-width: 330px;
min-height: 278px;
}
.container__bottom-card__3__icon{
    grid-row: 1;
position: absolute;
top: 24px;
right: 24px;
width: 64px;
height: 64px;
border-radius: 50%;
background-color: #E1E4EB;
display: flex;
align-items: center;
justify-content: center;
}
.container__bottom-card__3__icon img{
    width: 32px;
    height: 32px;
}

.container__bottom-card__3__title{
    grid-row: 2;
align-self: self-end;
padding: 10px;
font-size: 22px;
font-weight: 500;
}
.container__bottom-card__3__text{
    grid-row: 3;
    margin: 0;
    padding: 10px;
    font-size: 12px;
font-weight: 400;
}

.container__bottom-card__4{
  grid-column: 2;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    position: relative;
    border-radius: 24px;
    background: #EEF0F4;
    max-width: 330px;
    min-height: 278px;
}
.container__bottom-card__4__icon{
position: absolute;
grid-row: 1;
top: 24px;
right: 24px;
width: 64px;
height: 64px;
border-radius: 50%;
background-color: #E1E4EB;
display: flex;
align-items: center;
justify-content: center;    
}
.container__bottom-card__4__icon img{
    width: 32px;
    height: 32px;
}
.container__bottom-card__4__title{
    grid-row: 2;
    align-self: self-end;
padding: 10px;
font-size: 22px;
font-weight: 500;
}
.container__bottom-card__4__text{
    grid-row: 3;
    margin: 0;
    padding: 10px;
    font-size: 12px;
font-weight: 400;
}

.block3{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 80px;
  gap: 40px;

}

.block3-title{
grid-column: 1;
}

.block3-title h2{
font-size: 40px;
font-weight: 500;
}

.block3-title p{
font-size: 18px;
font-weight: 400;
margin-left: auto;
width: 330px;
}

.services {
    width: 100%;
    background: #181D29;
    border-radius: 28px;
    color: #EEF0F4;
    margin: 32px;
}



.services h2 {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 500;
    margin: 32px;
}

.service-card {
    background: #293142;
    padding: 18px 15px;
    border-radius: 18px;
    margin-bottom: 14px;
    overflow: hidden;
    cursor: pointer;
    transition: all .35s ease;
    position: relative;
    margin: 20px 32px;
}

.service-header {
    font-size: 17px;
    font-weight: 500;
}

.service-content {
    max-height: 0;
    opacity: 0;
    transition: .35s ease;
}

.service-card.active {
    background: linear-gradient(60deg, rgba(18,22,28,0.9), #b7ed6b70);
    padding-bottom: 24px;
}

.service-card.active .service-content {
    max-height: 175px;
    opacity: 1;
    margin-top: 10px;
}

.service-content p {
    font-size: 14px;
    opacity: .8;
}

.service-content button {
    margin-top: 12px;
    padding: 8px 18px;
    border-radius: 12px;
    border: none;
    background: #fff;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    transition: 0.25s;
}

.service-content button:hover {
    transform: translateY(-2px);
}


.footer {
  height: 516px;
  padding: 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__inner {
  display: flex;
  gap: 40px; /* расстояние между четырьмя блоками */
}

.footer__col {
  width: 330px;
}

.card {
  width: 100%;
  height: 150px;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: white;
}

.card.green {
  background: linear-gradient(135deg, #5DE545, #B7ED6B);
}

.card.blue {
  background: linear-gradient(135deg, #6B96ED, #4545E6);
}
.icon{
 display: flex;
  align-items: baseline;
  gap: 12px;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  opacity: 0.7;
}
